language: php

php:
    - 5.3
    - 5.4
    - 5.5
    - 5.6

install:
    - composer install
    - npm install

before_script:
    - make phantomjs

script:
    - php bin/phpunit --verbose --debug -c build/
    - php bin/phpcs -n --standard=PSR1,PSR2 --report=full src/
    #- php bin/phpmd src/ text build/rulesets/phpmd.xml

after_script:
    - ls -alh build/logs
    - php bin/coveralls -v

notifications:
    email: true

matrix:
    fast_finish: true
    allow_failures:
        - php: 5.3
