####
#
# This file is for integration testing. You MUST have these environment variables
# set or all integration tests will be skipped.
#
# To setup, you will need to export this variables like so:
#
#   export BITPAY_EMAIL='josh@bitpay.com'
#   export BITPAY_PASSWORD='FluffyKitty420'
#
# NOTE: Running this on the command line has the potential for them to show up
#       in your history. Please make sure you do this one a secure system.
#
####

BITPAY_EMAIL=''
BITPAY_PASSWORD=''
